html, body, #root {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#root {
  background-color: #0C0C0C;
}

.counter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    height: 40px;
    text-align: center;
    border: none;
  }

  button {
    height: 40px;
    border: none;
    padding: 0 20px;
  }
}